  /*============ Elements ============*/

 body {
	background: url(../img/bg.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fefefe;
	font-size:14px;
 }
 a:link, a:hover, a:active, a:visited {text-decoration:none;}
 h1, h2, h3, h4, h5 {
	/*peachborder-left:5px solid #f9645c;*/
	border-left:5px solid #5e9758;
	font-family:'BebasNeueRegular';
	line-height:1em;
	padding:0 0.4em;
 }
 ul { 
 	color:#676464;
	list-style-type:square;
 }
 li {
	color:#fefefe; 
 }
  /*============ Layout ============*/

 header {
	/*background:URL(../img/header-bg.png);*/
	font-family:'BebasNeueRegular';
	height:80px;
	padding:20px 0;
	position:relative;
	width:100%;
 }
 header .container {
	position:relative; 
 }
 .logo-container {
	overflow:hidden; 
 }
 .bg-trans {
	padding:2em;
	background:rgba(0,0,0,0.5); 
 }
 #snowflake {
	left:51px;
	position:absolute; 
	top:24px;
 }
 #logo {
	cursor:pointer; 
 }
 header img {
	float:left; 
 }
 header nav {
	overflow:hidden;
	font-size:1.6em; 
	margin-top:1em;
	position:absolute;
	bottom:0;
	right:0;
 }
 header nav a {
	display:inline-block;
	color:#ffffff;
	margin:0 0.6em;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
 }
 header nav a:hover {
	bottom:12px;
	color:#5e9758;
 }
 
 .quote {
	 background:rgba(237,237,237,0.2);
	 padding:1em;
	 position:relative;
	 padding-top:2em;
 }
 .quote h2 {
	font-size:2.2em; 
 }
 .quote-left, .quote-right {
	 position:absolute;
 }
 .quote-left {
	top:-10px;
	left:-10px; 
 }
 .quote-right {
	bottom:-10px;
	right:-10px;
 }
 .quote h2 {
	font-family: 'WalkwayObliqueRegular';
 }
 .container-circ {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:40%;
	overflow:hidden;
	margin:auto;
}
 .thumb-video {
	width:100%; 
 }
 
 .ideology-circle {
	background:#1a232e;
	border-radius:50%;
	height:220px;
	margin:auto;
	margin-bottom:2em;
	width:220px;
 }
 .work-examples {
	border-bottom:5px solid #676464;
	display:block;
	position:relative;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
 }
 .work-examples:hover {
	border-bottom:5px solid #5e9758;
 }
 .work-examples .caption {
	 position:absolute;
	 width:100%;
	 height:0;
	 bottom:0;
	 left:0;
	 background:rgba(0,0,0,0.7);
	 color:#fff;
	 text-align:center;
	 overflow:hidden;
	 -webkit-transition: all 0.1s ease-in-out;
	 -moz-transition: all 0.1s ease-in-out;
	 -o-transition: all 0.1s ease-in-out;
	 -ms-transition: all 0.1s ease-in-out;
	 transition: all 0.1s ease-in-out;
 }
 .work-examples .caption h3 {
	padding:25% 0; 
	opacity:0;
	border:none;
	margin:0;
	text-wrap:none;
	-webkit-transition: all 0.5s ease-in-out;
	 -moz-transition: all 0.5s ease-in-out;
	 -o-transition: all 0.5s ease-in-out;
	 -ms-transition: all 0.5s ease-in-out;
	 transition: all 0.5s ease-in-out;
 }
 .work-examples:hover .caption {
	height:100%;
 }
 .work-examples:hover .caption h3 {
	opacity:1; 
 }
 
 footer {
	background:#1a232e;
	border-top:5px solid #5e9758;
	color:#e7e7e7;
 }
 footer a {
	display:inline-block;
	color:#f4f3f3;
	margin:1em 0;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
 }
 footer a:hover {
	bottom:12px;
	color:#5e9758;
 }
 .text-align-right {
	 margin:10px 0;
	 text-align:right
 }
 
 /*============ Form ============*/
 input {
	width:90%; 
 }
 textarea {
	width:95%;
	height:200px; 
 }
 
  /*============ Paddings and Margins ============*/
 .double-padding {
	padding:2em; 
 }
 .double-padding-h {
	padding:0 2em; 
 }
 .double-padding-v {
	padding:2em 0; 
 }
 .double-padding-t {
	padding-top:2em; 
 }
 .full-padding {
	padding:1em; 
 }
 .full-padding-h {
	padding:0 1em; 
 }
 .full-padding-v {
	padding:1em 0; 
 }
 .half-padding {
	padding:0.5em; 
 }
 .half-padding-h {
	padding:0 0.5em; 
 }
 .half-padding-v {
	padding:0.5em 0; 
 }
 
 .double-margin-t {
	margin-top:2em; 
 }
 
 .txt-align-c {
	text-align:center; 
 }	
 
 /*============ Fonts ============*/
 @font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/BebasNeue-webfont.woff') format('woff'),
         url('../font/BebasNeue-webfont.ttf') format('truetype'),
         url('../font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'WalkwaySemiBoldRegular';
    src: url('../font/Walkway_SemiBold-webfont.eot');
    src: url('../font/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Walkway_SemiBold-webfont.woff') format('woff'),
         url('../font/Walkway_SemiBold-webfont.ttf') format('truetype'),
         url('../font/Walkway_SemiBold-webfont.svg#WalkwaySemiBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'WalkwayObliqueRegular';
    src: url('../font/Walkway_Oblique-webfont.eot');
    src: url('../font/Walkway_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Walkway_Oblique-webfont.woff') format('woff'),
         url('../font/Walkway_Oblique-webfont.ttf') format('truetype'),
         url('../font/Walkway_Oblique-webfont.svg#WalkwayObliqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}